/**
 * /*------------------------------------------------------------------
 * [TABLE OF CONTENTS]
 * 
 * 1. BASE
 * 
 *     1.1. Typography
 *     1.2. Common Styles
 *         1.2.1 Page Title
 *     1.3 Button Style
 * 
 * 2. NAVIGATION
 * 
 * 3. HERO AREA
 * 
 * 4. SKILL SECTION
 * 
 *     4.1. fun-facts
 *     4.2. counter
 * 
 * 5. PROGRESS SECTION
 * 
 *     5.1. progressbar title
 *     5.2. progressbar value
 * 
 * 6. MISSION SECTION
 * 
 *     6.1. card header
 *     6.2. card body
 * 
 * 7. PROMO VIDEO SECTION
 * 
 * 8. TESTIMONIAL SECTION
 * 
 *     8.1. testimonial slider
 *     8.2. testimonial content
 * 
 * 9. CONTACT
 * 
 *     9.1. Address Item
 *     9.2. Google Map
 *     9.3. COntact Form
 * 
 * 10. CLIENT LOGO SLIDER
 * 
 * 11. FUN-FACTS SECTION
 * 
 * 12. CONSULTATION SECTION
 * 
 *     12.1 background image
 *     12.2 form-control
 * 
 * 13. ABOUT SECTION
 * 
 *     13.1 about content
 *     13.2 about item
 *     13.3 about content 2
 *     13.4 about video
 *     13.5 about content 3
 *     13.6 about slider
 *     13.7 philosophy
 *     13.8 ceo
 * 
 *         13.8.1 ceo item
 *         13.8.1 ceo content
 *         13.8.1 ceo content-2
 * 
 * 
 * 14. SERVICE SECTION
 * 
 *     14.1 service item
 *     14.2 service item 2
 *     14.3 clients
 *     14.4 Process
 *     14.5 service menu
 *     14.6 service brochure
 *     14.7 service schedule
 *     14.8 service consultation
 *     14.9 service single
 * 
 *         14.9.1 service single image
 *         14.9.2 service single content
 *         14.9.3 service single list
 *         14.9.4 service single benefit
 *         14.9.5 widget
 * 
 * 15. WORK SECTION
 * 
 *     15.1 work slider
 *     15.2 slick dots
 * 
 * 16. CALL TO ACTION
 * 
 * 17. TEAM SECTION
 * 
 *     17.1 team item
 *     17.2 team content
 *     17.3 team member
 *     17.4 team single
 * 
 *         17.4.1 team member info item
 *         17.4.2 team member details
 * 
 * 18. PRICING SECTION
 * 
 *     18.1 pricing item
 * 
 * 19. PROJECT SECTION
 * 
 *     19.1 project menu
 *     19.2 project item
 *     19.3 project single
 * 
 *         19.3.1 project overview
 *         19.3.2 case study
 *         19.3.3 project single content
 * 
 *     19.4 nav-tabs
 *     19.5 tab content
 * 
 * 20. FAQ SECTION
 * 
 * 21. BLOG SECTION
 * 
 *     21.1 blog item
 *     21.2 blog content
 *     21.3 blog content 2
 *     21.4 blog post
 * 
 *         21.4.1 post slider
 *         21.4.2 post video
 *         21.4.3 pagination
 *         21.4.4 sidebar
 * 
 *     21.5 blog single
 * 
 *         21.5.1 blog single container
 *         21.5.2 blog single content
 *         21.5.3 blog single list
 *         21.5.4 blog single testimonial
 *         21.5.5 share tags
 *         21.5.6 comments
 *         21.5.7 blog-sidebar
 * 
 * 22. CONTACT SECTION
 * 
 *     22.1 contact item
 *     22.2 contact form
 *     22.3 google map
 * 
 * 23. SIGNUP WRAPPER
 * 
 *     23.1 signup greetngs
 *     23.2 signup form
 * 
 * 24. COMMING SOON
 * 
 *     24.1 SYOtimer
 * 
 * 25. FOOTER SECTION
 * 
 *     25.1 social link
 *     25.2 footer link
 *     25.3 subcription
 *     25.4 copyright
 *     25.5 back to top
 * -------------------------------------------------------------------
 *
 * @format
 */

/* 1.1 typography */
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Sans+SC&display=swap");
@font-face {
    font-family: "Lato", "Noto Sans SC";
    src: local("Lato", "Noto Sans SC");
}

body {
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
}

p,
.paragraph {
    font-weight: 300;
    color: #666;
    font-size: 14px;
    line-height: 25px;
    font-family: "Lato", "Noto Sans SC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #262a33;
    font-weight: 400;
    font-family: "Lato", "Noto Sans SC", sans-serif;
}

h1,
.h1 {
    font-size: 60px;
}

@media (max-width: 400px) {
    h1,
    .h1 {
        font-size: 30px;
    }
}

h2,
.h2 {
    font-size: 36px;
}

h3,
.h3 {
    font-size: 30px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}

/* 1.3 Button style */
.btn {
    font-size: 14px;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    text-transform: capitalize;
    padding: 16px 44px;
    border-radius: 35px;
    font-weight: 600;
    border: 0;
    position: relative;
    z-index: 1;
    transition: 0.2s ease;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.btn:active {
    box-shadow: none;
}

.btn-primary {
    background: #f11b3f;
    color: #fff;
}

.btn-primary:active {
    background: #f11b3f !important;
}

.btn-primary:hover {
    /* background: #ee7171; */
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.btn-secondary {
    background: #303032;
    color: #fff;
}

.btn-secondary:active {
    background: #f11b3f !important;
}

/* .btn-secondary:hover {
  background: #F11B3F !important;
  background: #ee7171;
} */

.btn-secondary:hover {
    /* background: #ee7171; */
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.btn-light {
    background: #fff;
    color: #262a33;
    border: 2px solid #fff;
}

.btn-light:hover {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.btn-sm {
    padding: 13px 20px !important;
    margin-top: 0.5rem !important;
    line-height: 0.5 !important;
    margin-left: 1rem;
    /* margin-right: 20px; */
}

/* 1.2 common style */
body {
    background-color: #fff;
    overflow-x: hidden;
}

::-moz-selection {
    background: #0D0746;
    color: #fff;
}

::selection {
    background: #0D0746;
    color: #fff;
}

/* preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

ol,
ul {
    list-style-type: none;
    margin: 0px;
}

img {
    vertical-align: middle;
    border: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

a {
    transition: 0.2s ease;
}

a:hover {
    color: #f11b3f;
}

a.text-dark:hover,
a.text-white:hover {
    color: #f11b3f !important;
}

a,
button {
    cursor: pointer;
}

.outline-0 {
    outline: 0;
}

.d-unset {
    display: unset !important;
}

.slick-slide {
    outline: 0;
}

.centralized {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hilighted {
    background: #303032;
    color: #919e4d;
    border-radius: 3px;
    padding: 2px 5px;
}

.section {
    padding: 100px 0;
}

@media (max-width: 575px) {
    .section {
        padding: 80px 0;
    }
}

.section-sm {
    padding: 80px 0;
}

.section-title {
    margin-bottom: 55px;
}

.section-title-sm {
    margin-bottom: 10px;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    color: #666;
}

.section-lg {
    padding: 300px 0;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.6;
    z-index: 0;
}
.overlay-light {
    position: relative;
}

.overlay-light::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.5;
}
.overlay-dark {
    position: relative;
}

.overlay-dark::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.overlay-primary {
    position: relative;
}

.overlay-primary::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #f11b3f;
    opacity: 0.6;
}

.overlay-white {
    position: relative;
}

.overlay-white::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0.7;
}

.overlay-rounded::before {
    border-radius: 5px;
}

.section-title-border {
    position: relative;
}

.section-title-border::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #f11b3f;
}

.section-title-border::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #f11b3f;
    box-shadow: 0 0 0 5px #fff;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-border-gray {
    position: relative;
}

.section-title-border-gray::before {
    position: absolute;
    content: "";
    height: 2px;
    width: 120px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #f11b3f;
}

.section-title-border-gray::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #f5f5f5;
    border: 2px solid #f11b3f;
    box-shadow: 0 0 0 5px #f5f5f5;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
}

.section-title-border-half {
    position: relative;
}

.section-title-border-half::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #f11b3f;
    bottom: -14px;
    left: 0;
}

.section-title-border-half::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 15px;
    bottom: -10px;
    background: #f11b3f;
}

.section-title-border-half-white {
    position: relative;
}

.section-title-border-half-white::before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #fff;
    bottom: -14px;
    left: 0;
}

.section-title-border-half-white::after {
    background: #fff;
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    left: 15px;
    bottom: -10px;
}

/* 1.2.1 page title */
.page-title {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 160px 0 100px;
}

/* breadcrumb */
.breadcrumb {
    background-color: transparent !important;
    -ms-flex-pack: center;
    justify-content: center;
}

.breadcrumb li,
.breadcrumb a {
    color: #fff;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    font-size: 12px;
    margin: 0 10px;
}

.breadcrumb a {
    position: relative;
}

.breadcrumb a::before {
    position: absolute;
    content: "/";
    right: -17px;
    top: 2px;
    height: 12px;
}

/* play-icon */
.play-icon {
    width: 85px;
    height: 85px;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
    text-align: center;
}

.play-icon:focus {
    outline: 0;
}

.play-icon i {
    line-height: 79px;
    display: block;
    font-size: 30px;
    color: #fff;
}

/* round icon */
.round-icon {
    height: 70px;
    min-width: 70px;
    max-width: 70px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: #f11b3f;
    display: inline-block;
}

/* 18. squre icon */
.square-icon {
    height: 65px;
    width: 65px;
    background: #f11b3f;
    color: #fff;
    font-size: 35px;
    line-height: 65px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
}

/* team social icon */
.social-icon-lg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    display: inline-block;
}

.social-icon-lg i {
    margin: 0;
    color: #fff;
}

.box-shadow {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
}

.golden {
    color: #efaf27 !important;
}

.bg-gray {
    background-color: #f5f5f5;
}

.bg-primary {
    background-color: #f11b3f !important;
}

.bg-secondary {
    background-color: #303032 !important;
}

.text-primary {
    color: #f11b3f !important;
}

.bg-facebook {
    background-color: #4267b2;
}

.bg-twitter {
    background-color: #449de8;
}

.bg-linkedin {
    background-color: #2f6ea3;
}

.bg-google {
    background-color: #e62211;
}

.text-color {
    color: #666;
}

.text-dark {
    color: #262a33;
}

.text-underline {
    text-decoration: underline;
}

.text-underline:hover {
    text-decoration: underline;
}

.font-primary {
    font-family: "Lato", "Noto Sans SC", sans-serif;
}

.font-secondary {
    font-family: "Lato", "Noto Sans SC", sans-serif;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .mb-md-50 {
        margin-bottom: 50px;
    }
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.py-10 {
    padding: 10px 0;
}

.py-50 {
    padding: 50px 0;
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.py-160 {
    padding: 160px 0;
}

.ml-65 {
    margin-left: 65px;
}

.pb-xl-200-lg-100 {
    padding-bottom: 200px;
}

@media (max-width: 1199px) {
    .pb-xl-200-lg-100 {
        padding-bottom: 100px;
    }
}

.mb-xl-150-lg-100 {
    margin-bottom: 150px;
}

@media (max-width: 1199px) {
    .mb-xl-150-lg-100 {
        margin-bottom: 100px;
    }
}

.translateY-25 {
    transform: translateY(25px);
}

.translateY-10 {
    transform: translateY(-10px);
}

.translateY-33 {
    transform: translateY(-33px);
}

/* 2.3. Search Form */
.search-form {
    padding: 6vh;
    background: #f2f2f2;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    display: none;
    transition: 0.3s ease-in;
}

.search-form .close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #212529;
    transition: 0.3s ease-in;
}

.search-form .close i {
    transition: 0.3s ease;
    display: inline-block;
}

.search-form .close:hover i {
    transform: rotate(90deg);
}

.search-form.open {
    display: block;
}

.search-form .form-control {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 0;
    font-size: 20px;
    transition: 0.3s ease;
    position: relative;
    color: #fff;
    height: 130px;
    padding: 30px 40px;
}

.search-form h3 {
    font-size: 35px;
    color: #212529;
    margin-bottom: 35px;
}

.search-form h5,
.search-form span,
.top-header span {
    cursor: pointer;
}

.search-form h5:hover {
    color: #f11b3f;
    background: transparent;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.search-form .input-wrapper {
    position: relative;
}

.search-form .input-wrapper button {
    background: none;
    border: 0;
    position: absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 20px;
}

.search-form .input-wrapper button i {
    color: #212529;
}

/* 3. hero area */
.hero-slider.slick-slider {
    margin-bottom: 80px;
}

.hero-slider [data-animation-in] {
    opacity: 0;
}

.hero-slider-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    outline: 0;
}

.hero-slider .prevArrow,
.hero-slider .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(48, 48, 50, 0.5);
    color: #fff;
    border: 0;
    font-size: 25px;
    line-height: 70px;
    opacity: 0;
    transition: all linear 0.2s;
}

@media (max-width: 575px) {
    .hero-slider .prevArrow,
    .hero-slider .nextArrow {
        display: none;
    }
}

.hero-slider .prevArrow:focus,
.hero-slider .nextArrow:focus {
    outline: 0;
}

.hero-slider .prevArrow:hover,
.hero-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.5);
}

.hero-slider .prevArrow {
    left: 20px;
}

.hero-slider .nextArrow {
    right: 20px;
}

.hero-slider:hover .prevArrow,
.hero-slider:hover .nextArrow {
    opacity: 1;
}

.hero-slider .slick-dots {
    bottom: -81px;
    padding-left: 0;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.hero-slider .slick-dots li {
    width: 295px;
    height: 80px;
    background: #fff;
    margin: 0;
    display: inline-block;
    position: relative;
    /* @include mobile-xs {
                    width: 50px;
                } */
}

@media (max-width: 1199px) {
    .hero-slider .slick-dots li {
        width: 230px;
    }
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li {
        width: 180px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li {
        width: 120px;
    }
}

@media (max-width: 575px) {
    .hero-slider .slick-dots li {
        width: 25%;
    }
}

.hero-slider .slick-dots li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: -12px;
    height: 25px;
    width: 25px;
    background: #303032;
    transform: translateX(-50%) rotate(-45deg);
    opacity: 0;
}

.hero-slider .slick-dots li a {
    display: block;
    position: relative;
    text-align: center;
    transition: 0.3s ease;
    color: #303032;
}

.hero-slider .slick-dots li a i {
    display: inline-block;
    font-size: 30px;
    line-height: 80px;
    margin-right: 15px;
    vertical-align: middle;
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li a i {
        font-size: 20px;
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li a i {
        margin: 0;
    }
}

.hero-slider .slick-dots li a span {
    font-size: 18px;
    font-weight: 500;
    line-height: 80px;
}

@media (max-width: 991px) {
    .hero-slider .slick-dots li a span {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .hero-slider .slick-dots li a span {
        display: none;
    }
}

.hero-slider .slick-dots li.slick-active {
    background: #303032;
}

.hero-slider .slick-dots li.slick-active a {
    color: #fff;
}

.hero-slider .slick-dots li.slick-active::before {
    opacity: 1;
}

.hero-content h4 {
    letter-spacing: 2px;
}

/* 5. progrgess bar start */
.progressbar-title {
    font-size: 17px;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    margin-bottom: 7px;
    color: #262a33 !important;
}

.progress {
    border-radius: 35px;
    overflow: visible;
    margin-bottom: 35px;
    /* 5.2 progressbar value */
}

.progress-bar {
    background-color: #303032;
    border-radius: 35px;
    position: relative;
}

.progress-bar-value {
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    color: #fff;
    background: #303032;
    padding: 5px 9px;
    position: absolute;
    top: -35px;
    right: -15px;
    border-radius: 5px;
}

.progress-bar-value::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 50%;
    background: #303032;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(-45deg);
}

/* progrgess bar End */
/* 6. mission section start */
.card-header:first-child {
    border-radius: 35px;
}

/* 7. promo video section start */
.promo-video {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo-video p {
    font-family: "Work Sans", sans-serif;
}

/* promo video section end */
/* 8. testimonial section start */
.testimonial-slider {
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.testimonial-slider .prevArrow,
.testimonial-slider .nextArrow {
    position: absolute;
    top: 85px;
    border: 0;
    font-size: 20px;
    background: transparent;
    color: #f11b3f;
    z-index: 9;
}

.testimonial-slider .prevArrow:focus,
.testimonial-slider .nextArrow:focus {
    outline: 0;
}

.testimonial-slider .prevArrow {
    right: 90px;
}

.testimonial-slider .nextArrow {
    right: 50px;
}

.testimonial-slider .slick-disabled {
    color: #e5e5e5;
}

.testimonial-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #f5f5f5;
    color: #f11b3f;
    font-size: 25px;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}

/* testimonial section end */
/* 10. client logo slider start */
.client-logo-slider .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

/* client logo slider end */
/* 11. fun-facts section start */
.fun-facts {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* fun-facts section end */
/* 12. consultation section start */
.consultation {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* consultation section end */
/* 16. call to action start */
.cta {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* card */
.card-img-wrapper {
    position: relative;
}

.card-img-wrapper::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.card-body-2 {
    position: relative;
    transition: 0.2s ease;
    border-radius: 0 0 5px 5px;
}

.card-body-2::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background: #fff;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    transition: 0.2s ease;
}

.card:hover .card-img-wrapper::before {
    opacity: 0.4;
}

.card:hover .card-body-2 {
    background: #f11b3f;
}

.card:hover .card-body-2 h5,
.card:hover .card-body-2 h6,
.card:hover .card-body-2 a {
    color: #fff;
}

.card:hover .card-body-2::before {
    background: #f11b3f;
}

.overlay-rounded-top::before {
    border-radius: 5px 5px 0 0;
}

/* 13. about section */
.about {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    /* 13.4 about video */
    /* 13.6 about slider */
}

.banner-title {
    font-family: "Lato", "Noto Serif SC", serif;
}

@media (min-width: 768px) {
    #hero-strip {
        bottom: 0;
        background-color: rgba(39, 37, 80, 0.6);
        height: 10vh;
        position: relative;
        top: -11vh;
    }

    #hero-strip p {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    #hero-strip {
        visibility: collapse;
    }
}

.cn-title {
    font-family: "Ma Shan Zheng", cursive, serif;
    background-image: linear-gradient(180deg, rgba(245, 221, 105, 1) 0%, rgba(203, 172, 0, 1) 100%);
    color: transparent;
    background-clip: text;
}

.support-office .branch {
    color: #fff;
    background: rgb(54, 134, 233);
    background: -moz-linear-gradient(90deg, rgba(54, 134, 233, 1) 0%, rgba(29, 162, 227, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(54, 134, 233, 1) 0%, rgba(29, 162, 227, 1) 100%);
    background: linear-gradient(90deg, rgba(54, 134, 233, 1) 0%, rgba(29, 162, 227, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3686e9",endColorstr="#1da2e3",GradientType=1);
    padding: 5px 10px 5px 10px;
    position: relative;
}

.support-office .branch::after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(29, 162, 227, 0);
    border-left-color: #1da2e3;
    border-width: 23px;
    margin-top: -23px;
}

@media (min-width: 319px) {
    .cn-title {
        background-image: linear-gradient(180deg, rgba(245, 221, 105, 1) 0%, rgba(203, 172, 0, 1) 100%);
        color: transparent;
        background-clip: text;
        margin-left: -16px;
        margin-right: -16px;
    }

    .cn-title::before {
        content: "\201C";
        /*font-family:  "Lato","Noto Sans SC", sans-serif;*/
        font-weight: normal;
        font-size: 70%;
        color: #ffffff;
        /* margin-left: -20px;  */
        position: relative;
        top: -25px;
        left: 5px;
        margin: 0;
        padding: 0;
        text-align: center;
        z-index: 1;
        /* background-color: transparent; */
    }

    .cn-title::after {
        content: "\201D";
        font-weight: normal;
        color: #ffffff;
        font-size: 70%;
        position: relative;
        top: -25px;
        left: -8px;
        margin: 0;
        padding: 0;
        text-align: center;
        z-index: 1;
    }
}

.about-video {
    min-height: 300px;
}

.about-slider {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.about-slider .prevArrow,
.about-slider .nextArrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: 0;
    line-height: 55px;
    text-align: center;
    background: #fff;
    transition: 0.2s ease;
}

.about-slider .prevArrow:focus,
.about-slider .nextArrow:focus {
    outline: 0;
}

.about-slider .prevArrow:hover,
.about-slider .nextArrow:hover {
    background: #f11b3f;
    color: #fff;
}

.about-slider .prevArrow {
    left: 25px;
}

.about-slider .nextArrow {
    right: 25px;
}

/* 13.8 ceo section start */
.ceo-image {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}

/* ceo section end */
/* 14.3 clients */
.clients {
    background-position: center right;
    background-size: 50%;
    background-repeat: no-repeat;
}

@media (max-width: 991px) {
    .clients {
        background-size: cover !important;
        background-position: center center;
        text-align: center;
    }
}

.clients ul li {
    height: 66px;
}

.clients ul li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

/* 14.4 process */
.process-item {
    width: 330px;
}

@media (max-width: 1199px) {
    .process-item {
        width: unset;
    }
}

.process-item-number {
    position: absolute;
    left: -35px;
    top: -35px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.1);
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #262a33;
}

@media (max-width: 1199px) {
    .process-item-number {
        top: -35px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.process-item h5 {
    margin-bottom: 5px;
    color: #f11b3f;
}

img.arrow-top {
    position: absolute;
    top: 220px;
    right: 250px;
}

@media (max-width: 1199px) {
    img.arrow-top {
        display: none;
    }
}

img.arrow-bottom {
    position: absolute;
    bottom: 100px;
    left: 250px;
}

@media (max-width: 1199px) {
    img.arrow-bottom {
        display: none;
    }
}

/* service single start */
.service-menu li.active {
    position: relative;
}

.service-menu li.active a {
    background: #0D0746;
    color: #fff !important;
}

.service-menu li.active::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #0D0746;
    top: 50%;
    right: -7px;
    transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 991px) {
    .service-menu li.active::before {
        display: none;
    }
}

.service-menu li:hover a {
    color: #fff !important;
    background: #0D0746;
}

/* service single end */

.our-advantages {
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}

@media (max-width: 575px) {
    .our-advantages {
        padding: 80px 0;
    }
}

.our-advantages > .div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.our-advantages > .div2 {
    grid-area: 1 / 2 / 2 / 3;
}
.our-advantages > .div3 {
    grid-area: 1 / 3 / 2 / 4;
}
.our-advantages > .div4 {
    grid-area: 1 / 4 / 2 / 5;
}
.our-advantages > .div5 {
    grid-area: 1 / 5 / 2 / 6;
}
.our-advantages > .div6 {
    grid-area: 1 / 6 / 2 / 7;
}
/* 15. work section */
.work {
    /* 15.1 work slider */
}

.work-slider {
    /* 15.2 slick dots */
}

.work-slider-image {
    position: relative;
}

.work-slider-image .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    padding: 15px 25px;
    opacity: 0;
    transition: 0.2s;
}

.work-slider-image .image-overlay i {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 24px;
    transition: 0.2s ease;
    padding: 10px;
}

.work-slider-image .image-overlay i:hover {
    font-size: 30px;
}

.work-slider-image .image-overlay a.h4 {
    position: absolute;
    bottom: 50px;
    color: #fff;
    transition: 0.2s ease;
    transform: translateY(20px);
    opacity: 0;
}

.work-slider-image .image-overlay a.h4:hover {
    color: #f11b3f;
}

.work-slider-image .image-overlay p {
    position: absolute;
    bottom: 15px;
    color: #fff;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.work-slider-image:hover .image-overlay {
    opacity: 1;
}

.work-slider-image:hover a.h4,
.work-slider-image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.work-slider .slick-dots {
    padding-left: 0;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}

.work-slider .slick-dots li {
    margin: 0 14px;
}

@media (max-width: 400px) {
    .work-slider .slick-dots li {
        margin: 0 2px;
    }
}

.work-slider .slick-dots li:first-child {
    margin-left: 0;
}

.work-slider .slick-dots li button {
    height: 10px;
    width: 40px;
    border-radius: 25px;
    color: transparent;
    overflow: hidden;
    border: 0;
    border: 2px solid #e5e5e5;
    background: transparent;
    outline: 0;
    display: block;
}

.work-slider .slick-dots li button::before {
    display: none;
}

@media (max-width: 400px) {
    .work-slider .slick-dots li button {
        width: 10px;
    }
}

.work-slider .slick-dots li.slick-active button {
    border-color: #f11b3f;
}

/* 19. project section */
.project {
    /* 19.1 project menu */
    /* 19.2 project item */
}

.project-menu ul li {
    padding: 5px 20px;
    border-radius: 35px;
    color: #262a33;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    background: #f5f5f5;
    margin: 0 10px 25px;
}

.project-menu ul li.active {
    background: #f11b3f;
    color: #fff;
}

.project-info {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: 0.2s ease;
}

.project-info a {
    color: #fff;
    position: absolute;
    left: 30px;
    bottom: 40px;
    transform: translateY(20px);
    opacity: 0;
}

.project-info a:hover {
    color: #f11b3f;
}

.project-info p {
    position: absolute;
    left: 25px;
    bottom: 0;
    color: #fff;
    transition: 0.2s ease;
    transform: translateY(20px);
    opacity: 0;
    transition-delay: 0.1s;
}

.project-info p i {
    margin-right: 5px;
}

.project-info:hover {
    opacity: 1;
}

.project-info:hover a {
    transform: translateY(0);
    opacity: 1;
}

.project-info:hover p {
    transform: translateY(0);
    opacity: 0.7;
}

/* 19.3 project single page start */
/* 19.4 nav tabs */
.nav-tabs {
    border: 0;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .nav-tabs {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.nav-tabs .nav-item:not(:last-child) {
    margin-right: 10px;
}

@media (max-width: 575px) {
    .nav-tabs .nav-item {
        margin-bottom: 10px;
    }
}

.nav-tabs .nav-item .nav-link {
    padding: 10px 30px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    border-radius: 45px;
    text-align: center;
    vertical-align: middle;
    /* color: #262a33; */
    transition: 0.2s ease;
    font-size: 16px;
    font-family: "Lato", "Noto Sans SC", sans-serif;
}

.nav-tabs .nav-item .active {
    background: #fff;
    color: #f11b3f;
    border-color: #f11b3f;
}

/* 19.5 tab content */
.tab-content {
    padding: 40px;
    margin-bottom: 60px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #e5e5e5;
}

.tab-content-item {
    margin-left: 20px;
}

.tab-content-item:not(:last-child) {
    margin-bottom: 45px;
}

.tab-content-item h6 {
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #262a33;
    margin-bottom: 25px;
    position: relative;
}

.tab-content-item h6::before {
    position: absolute;
    content: "\e65d";
    font-family: "themify";
    top: 0;
    left: -20px;
    color: #f11b3f;
}

.tab-content-item p {
    margin-bottom: 0;
}

/* project single page end */
/* 21.4.3 pagination */
.pagination .page-item .page-link {
    background: transparent;
    border: none;
    color: #000;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    transition: 0.3s ease;
}

.pagination .page-item .page-link:hover {
    color: #f11b3f;
}

.pagination .page-item.active .page-link {
    color: #f11b3f;
}

.pagination .prev,
.pagination .next {
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    padding: 5px 10px;
    transition: 0.3s ease;
}

.pagination .prev:hover,
.pagination .next:hover {
    border-color: #f11b3f;
}

.pagination .prev:hover .page-link,
.pagination .next:hover .page-link {
    color: #f11b3f;
}

.pagination .prev {
    margin-right: 30px;
}

.pagination .next {
    margin-left: 30px;
}

/* 21.4.1 post slider */
.post-slider {
    position: relative;
}

.post-slider .prevArrow,
.post-slider .nextArrow {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    top: 50%;
    border: 0;
    font-size: 20px;
    background: transparent;
    color: #f11b3f;
    z-index: 9;
    background: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease;
}

.post-slider .prevArrow:focus,
.post-slider .nextArrow:focus {
    outline: 0;
}

.post-slider .prevArrow:hover,
.post-slider .nextArrow:hover {
    background: rgba(232, 68, 68, 0.25);
}

.post-slider .prevArrow {
    left: 40px;
}

.post-slider .nextArrow {
    right: 40px;
}

.post-slider .slick-disabled {
    color: #e5e5e5;
}

/* 21.4.4 sidebar */
.search-wrapper {
    position: relative;
}

.search-wrapper input {
    background: #f5f5f5;
    border-radius: 30px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
}

.search-wrapper::before {
    content: "\e610";
    font-family: "themify";
    position: absolute;
    top: 50%;
    right: 20px;
    color: #666;
    transform: translateY(-50%);
}

ul.tag-list li {
    margin-bottom: 7px;
}

ul.tag-list li a {
    color: #666;
    padding: 10px 15px;
    display: block;
    border: 1px solid #e5e5e5;
    border-radius: 30px;
    font-size: 13px;
    transition: 0.3s ease;
}

ul.tag-list li a:hover {
    background: #f11b3f;
    border-color: #f11b3f;
    color: #fff;
}

.newsletter .form-control {
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px;
    font-size: 13px;
}

/* 21.5 blog single start */
/* share icon */
.share-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
}

.share-icon i {
    color: #fff;
}

/* 21.5.7 blog sidebar */
.sidebar-box-shadow {
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.06);
}

/* blog single end */
/* 22. contact section */
.form-control {
    border-radius: 5px;
    padding: 0 15px 2px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #e5e5e5;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
}

.form-control:focus {
    border-color: #f11b3f;
    box-shadow: none !important;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control::placeholder {
    color: #fff;
}

/* 22.3 google map */
.map {
    position: relative;
}

.map #map_canvas {
    height: 450px;
}

/* 23.1 signup greetings */
.signup {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1);
    /* 23.2 signup form */
}

.signup-greeting {
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0 140px;
    text-align: center;
}

@media (max-width: 1199px) {
    .signup-greeting {
        padding-bottom: 80px;
    }
}

@media (max-width: 767px) {
    .signup-greeting {
        padding-top: 200px;
    }
}

@media (max-width: 575px) {
    .signup-greeting {
        padding-top: 400px;
    }
}

.signup-greeting img {
    margin-bottom: 50px;
    position: relative;
    z-index: 9;
}

.signup-greeting h4 {
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    z-index: 9;
}

.signup-greeting p {
    color: #fff;
    position: relative;
    z-index: 9;
    margin: 0 40px;
}

.signup-form {
    padding: 50px 50px 50px 35px;
}

@media (max-width: 1199px) {
    .signup-form {
        padding: 50px 15px 50px 0;
    }
}

@media (max-width: 767px) {
    .signup-form {
        padding: 50px;
    }
}

@media (max-width: 575px) {
    .signup-form {
        text-align: center;
    }
}

.signup-form h4 {
    float: left;
    font-size: 26px;
    margin-bottom: 35px;
}

@media (max-width: 575px) {
    .signup-form h4 {
        float: unset;
    }
}

.signup-form a {
    color: #f11b3f;
}

.signup-form .btn {
    margin-top: 30px;
}

.signup-form p.signup-with {
    display: inline-block;
    margin-top: 42px;
}

.signup-form ul {
    margin-top: 37px;
    display: inline-block;
}

.signup-form ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

/* 24. comming soon */
.comming-soon {
    height: 100vh;
    background-size: cover;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.comming-soon h1 {
    font-size: 50px;
    font-weight: 600;
}

@media (max-width: 575px) {
    .comming-soon h1 {
        font-size: 30px;
    }
}

.comming-soon .form-control {
    height: 45px;
    border-radius: 45px;
    position: relative;
    background: transparent;
    border: 1px solid #e5e5e5;
    color: #fff;
    margin-bottom: 40px;
}

.comming-soon .form-control::-webkit-input-placeholder {
    color: #666;
}

.comming-soon .form-control:-ms-input-placeholder {
    color: #666;
}

.comming-soon .form-control::placeholder {
    color: #666;
}

.comming-soon .btn-email {
    position: absolute;
    top: 0;
    right: 15px;
    background: #fff;
    border: 0;
    color: #f11b3f;
    border-radius: 45px;
    height: 45px;
    padding: 0 50px;
}

@media (max-width: 575px) {
    .comming-soon .btn-email {
        padding: 0 10px;
    }
}

.comming-soon i {
    color: #5c5c5c;
    margin: 0 15px;
    transition: 0.2s ease;
    font-size: 24px;
}

.comming-soon i:hover {
    color: #f11b3f;
}

/* 24.1 syotimer */
.syotimer {
    text-align: center;
    margin: 0 auto 40px;
}

.syotimer-cell:last-child .syotimer-cell__value::before {
    opacity: 0;
}

.syotimer-cell {
    display: inline-block;
    margin: 0 25px;
}

@media (max-width: 1199px) {
    .syotimer-cell {
        margin: 0 20px;
    }
}

@media (max-width: 575px) {
    .syotimer-cell {
        margin: 0 10px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell {
        margin: 0 5px;
    }
}

.syotimer-cell__value {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

@media (max-width: 1199px) {
    .syotimer-cell__value {
        font-size: 50px;
    }
}

@media (max-width: 575px) {
    .syotimer-cell__value {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell__value {
        font-size: 24px;
    }
}

.syotimer-cell__value::before {
    position: absolute;
    content: ":";
    height: 30px;
    color: #fff;
    right: -30px;
    top: 0;
}

@media (max-width: 575px) {
    .syotimer-cell__value::before {
        right: -20px;
    }
}

@media (max-width: 400px) {
    .syotimer-cell__value::before {
        right: -12px;
    }
}

.syotimer-cell__unit {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
}

/* 25.1 social link */
.social-icon-outline {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: transparent;
    border: 1px solid #fff;
    text-align: center;
    transition: 0.2s ease;
    display: inline-block;
}

.social-icon-outline i {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
}

.social-icon-outline:hover {
    border-color: #f11b3f;
}

/* 25.2 footer link */
.footer-links {
    padding-left: 18px;
}

.footer-links li {
    margin-bottom: 20px;
    position: relative;
}

.footer-links li a {
    color: #fff;
    font-family: "Lato", "Noto Sans SC", sans-serif;
    font-size: 14px;
    transition: 0.2s ease;
    display: block;
}

.footer-links li a:hover {
    text-decoration: underline;
    color: #f11b3f;
}

.footer-paragraph {
    font-size: 10px;
}

/* 25.3 subcription */
.form-control.subscribe {
    width: 100%;
    /* border-radius: 35px; */
    border-radius: 0px;
    border: 0;
    padding: 0 20px !important;
    height: 50px;
}

/* subscribe button */
.btn-subscribe {
    position: absolute;
    right: 5px;
    top: 5px;
    border: 0;
    height: 40px;
    width: 40px;
    /* border-radius: 50%; */
    color: #fff;
    background: #f11b3f;
    transition: all linear 0.2s;
}

.btn-subscribe:hover {
    padding-left: 5px;
}

.btn-subscribe:focus {
    outline: 0;
}

/* back to top button */
.back-to-top {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    background: #303032;
    top: -25px;
    right: 10px;
    border: 1px solid #454547;
    text-align: center;
    display: block;
    transition: 0.2s ease;
}

.back-to-top i {
    line-height: 50px;
}

.back-to-top:hover {
    border-color: #f11b3f;
}

.back-to-top:focus {
    outline: 0;
}

.text-highlight {
    color: #f11b3f;
}

.product {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 0;
    padding-bottom: 200px;
}

.contact {
    position: relative;
    top: -266px;
    text-align: center;
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
}

.contact .contact-form {
    background-color: #ffffff;
    border-radius: 0;
    border-top-style: solid;
    border-color: #f11b3f;
}

.contact .contact-form .form-control {
    border-radius: 0;
    background: #e6e6e6;
    color: #fff;
}

.contact-blue {
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
}

.contact-blue .contact-form {
    background-color: #ffffff;
    border-radius: 0;
    border-top-style: solid;
    border-color: #f11b3f;
}

.contact-blue .contact-form .form-control {
    border-radius: 0;
    background: #f11b3f;
    color: #ffffff;
}

.contact-blue .contact-form .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.contact-blue .contact-form .form-control :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.contact-blue .contact-form .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}


.vn-newsletter {
    position: relative;
    top: 0px;
    text-align: center;
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
}

.vn-newsletter .contact-form {
    background-color: #fdfacf;
    border-radius: 0;
    border-top-style: solid;
    border-color: #fdfacf;
}

.vn-newsletter .contact-form .form-control {
    border-radius: 0;
    background: #f11b3f;
    color: #fff;
}

.vn-newsletter-blue {
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: transparent;
    border-radius: 0;
}

.vn-newsletter-blue .contact-form {
    background-color: #ffffff;
    border-radius: 0;
    border-top-style: solid;
    border-color: #f11b3f;
}

.vn-newsletter-blue .contact-form .form-control {
    border-radius: 0;
    background: #f11b3f;
    color: #ffffff;
}

.vn-newsletter-blue .contact-form .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.vn-newsletter-blue .contact-form .form-control :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.vn-newsletter-blue .contact-form .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

.cntr {
    margin: auto;
}

.btn-radio {
    cursor: pointer;
    display: inline-block;
    float: left;
    -webkit-user-select: none;
    user-select: none;
}
.btn-radio:not(:first-child) {
    margin-left: 20px;
}
@media screen and (max-width: 480px) {
    .btn-radio {
        display: block;
        float: none;
    }
    .btn-radio:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
    }
}
.btn-radio svg {
    fill: none;
    vertical-align: middle;
}
.btn-radio svg circle {
    stroke-width: 2;
    stroke: #c8ccd4;
}
.btn-radio svg path {
    stroke: #f11b3f;
}
.btn-radio svg path.inner {
    stroke-width: 6;
    stroke-dasharray: 19;
    stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
    stroke-width: 2;
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
}
.btn-radio input {
    display: none;
}
.btn-radio input:checked + svg path {
    transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
    stroke-dashoffset: 38;
    transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
    stroke-dashoffset: 0;
}
.btn-radio span {
    display: inline-block;
    vertical-align: middle;
}

.footer-section {
    background-repeat: round space;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
    position: relative;
    z-index: 0;
    min-height: 800px;
    padding-top: 400px;
    top: -640px;
    margin-bottom: -640px;
}

.footer {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50%;
}

.footer > .footer-border {
    border-bottom: 0.5px solid #727272 !important;
}

.bg-secondary {
    position: relative;
    /* top: -640px; */
    /* margin-bottom:-20px; */
}

.support .wrapper {
    max-width: 600px;
    width: 100%;
    margin: 10vh auto;
}

.support h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.support input {
    display: none;
}

.support label {
    display: flex;
    width: 100%;
    height: 50px;
    cursor: pointer;
    border: 3px solid #f11b3f;
    user-select: none;
}

.support label div:first-child {
    width: 100%;
    line-height: 45px;
    margin-left: 10px;
    font-size: 1.2em;
}

.support .cross {
    margin-right: 15px;
    margin-top: 3px;
}

.support .cross:before,
.cross:after {
    content: "";
    border-top: 2px solid #f11b3f;
    width: 15px;
    display: block;
    margin-top: 18px;
    transition: 0.3s;
}

.support .cross:after {
    transform: rotate(90deg);
    margin-top: -2px;
}

.support .content {
    box-sizing: border-box;
    font-size: 0.9em;
    margin: 10px 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, 0.5s;
}

.support input:checked ~ .content {
    max-height: 100vh;
    transition: max-height, 1s;
}

.support input:checked ~ label .cross:before {
    transform: rotate(180deg);
}

.support input:checked ~ label .cross:after {
    transform: rotate(0deg);
}

.support .questions {
    margin-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height, 0.5s;
}

.support .questions label {
    border: none;
    box-shadow: none;
    margin: 0;
}

.support input:checked ~ .questions {
    max-height: 100vh;
    /*border-bottom:2px solid #F11B3F;*/
    transition: 1s;
}

/*----------tool-tip------------*/

.support.tip {
    color: #f11b3f;
    cursor: help;
    position: relative;
    overflow: visible;
    font-family: monospace;
    font-size: 1.3em;
}

.support .tip:before,
.support .tip:after {
    position: absolute;
    opacity: 0;
    z-index: -100;
    transform: translateY(-30%);
    transition: 0.4s;
}

.support .tip:before {
    content: "";
    border-style: solid;
    border-width: 0.8em 0.5em 0 0.5em;
    border-color: #f11b3f transparent transparent transparent;
    transform: translateY(-200%);
    bottom: 90%;
    left: 50%;
}

.support .tip:after {
    content: attr(data-tip);
    background: #f11b3f;
    color: white;
    width: 150px;
    padding: 10px;
    font-size: 0.8em;
    bottom: 150%;
    left: -50%;
}

.support .tip:hover:before,
.support .tip:hover:after {
    opacity: 1;
    z-index: 100;
    transform: scaleY(1);
}
