/** @format */

.terminal-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
/* 
.terminal-container:after {
    display: block;
    content: " placeholder ";
    margin: 10px;
    flex: 999 999 auto;
} */

.terminal-flex-item {
    flex: 0 0 auto;
    margin: 10px;
    max-width: 50%;
}
